<!DOCTYPE html>
<html>
<head>
  <title>JadenVRandomWords</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<main>

  <nav class="nav-wrapper cyan darken-2">
    <ul id="nav-mobile">
      <li class="name">
        <a class="brand-logo center" href="/">Jaden vs Random Words</a>
      </li>
    </ul>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</main>
<footer class="page-footer cyan darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4">Created by: Kelsey Hale</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/KelseyHale/jaden-v-random-words">JadenVRandomWords on GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Written in Ruby on Rails with Materialize CSS
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
</body>

</html>
